* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.backgraund-vvovu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:aqua;
}

.image-container {
    position: relative;
    display: inline-block;
    padding-top: 0;
}
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay-button {
    position: absolute;
    top: 72%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 32, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 15%;
    z-index: 1;
}
.overlay-button:hover {
    background-color: red;
}
.overlay-button a {
text-decoration: none;
color: white;
}