* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.auf {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 255, 0);
}

.image-container {
    width: 747px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}
.happy-vova {
    margin-top: 80px;
    padding: 10px 20px;
    position: absolute;
    z-index: 2;
}
.happy-vova img{
width: 220px;
height: 220px;
}




