* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 107, 187);
} 
  .overlay-button {
    position: absolute;
    top: 70%;
    left:50%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    background-color: rgb(8, 0, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgb(194, 194, 255);
    z-index: 1;
}
.overlay-button:hover {
    background-color: rgb(0, 102, 255);
}
.overlay-button a {
text-decoration: none;
color: white;
}
