* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    margin-top: 75px;
    background-image: url('/img/backgraund-img/2952534.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:aquamarine;

}

.navbar {
    display:flex;
    justify-content: space-between;
    height: 75px;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.img-logo {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav li {
 display: inline-block;
 margin-right: 15px;
}
 nav li:last-child {
     margin-right: 0;
 }
nav a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(149, 121, 249);
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

nav a:hover {
    background-color: aquamarine;
    height: 75px;
    border-radius: 15px;
}

.backgraund {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-container {
    position:relative;
    width: 700px;
    height: 100%;
    max-height: 800px;
    overflow: hidden;
    border-color: brown;
    border-style: solid;
    border-width: 10px;
}
#myvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video[poster] {
    object-fit: cover;
    object-position: center;
    width: 700px;
    height: 100%;
}